{% assign botcat = false %} {% assign postthumbnail = false %} {% assign pageauthor = false %} {% assign pageauthorurl = false %} {% assign pageauthorimg = false %}
{% for type in post.types %}{% assign typ = site.types | where: 'slug', type | first %}
  {% if typ %}{% assign topcat = typ.title %}{% assign topcatimg = typ.icon %}{% assign topcaturl = typ.url %}{% endif %}
{% endfor %}
{% for category in post.categories %}{% assign cat = site.categories | where: 'slug', category | first %}
  {% if cat %}{%unless cat.slug == page.slug %}{% assign botcat = cat.title %}{% assign botcaturl = cat.url %}{%endunless%}{% endif %}
{% endfor %}
{% for author in post.authors %}{% assign auth = site.authors | where: 'slug', author | first %}
  {% if auth %}
    {% assign pageauthor = auth.title %}
    {% if auth.image %}{% assign pageauthorimg = auth.image %}{% endif %}
      {% assign pageauthorurl = auth.url %}
    {% else %}
      {% assign pageauthorimg = false %}
      {% assign pageauthor = post.authors %}
      {% assign pageauthorurl = false %}
  {% endif %}
{% endfor %}
{% if post.featureImg %}
{% assign excerptn = 20 %}
{%else%}
{% assign excerptn = 50 %}
{%endif%}
  {% if post.featureImg %}
    {% assign postthumbnail = post.featureImg %}
  {% elsif pageauthorimg %}
    {% unless post.authors == 'asmaneh'%}{% assign postthumbnail = pageauthorimg %}{%endunless%}
  {% endif %}
{% if postthumbnail %}{% assign maxWords = 100 %}{% else %}{% assign maxWords = 200 %}{%endif%}
<div class="col-sm-6 mt-3">
  <div class="card bg-transparent border-0 p-0">
      <div class="row no-gutters">
          {% if postthumbnail %}
          <div class="col-sm-4 card-image card-image-hr">
            <a href="{{post.url}}">
            <div class="square border border-3 border-dark" style="background-image: url('{{postthumbnail}}')">
            </div>
          </a>
          </div>
          {%endif%}
          <div class="col-sm mt-2" >
            <div class="card-body border border-3 border-black mt-0  bg-light p-0">
              {% unless post.types == page.slug%}
              {% unless post.types == page.type%}
              <div class="d-flex flex-row mb-0  ">
                <a href="{{topcaturl}}">
                  <div class="h5 mt-auto bg-light mb-0 border-0">
                    <img src="{{topcatimg}}" alt="{{topcat}}" class="nav-icon top-img">
                  </div>
                </a>
              </div>
              {%endunless%}
              {%endunless%}
              <div class="px-3">
                <h5 class="card-title mb-0"><a href="{{post.url}}">{% if post.shortTitle%}{{post.shortTitle}}{%else%}{{post.title}}{%endif%}</a></h5>
                {% unless post.authors == 'asmaneh'%}{%if pageauthorurl %}<a href="{{pageauthorurl}}"><h6>{{pageauthor}}</h6></a>{%else%}<h6>{{pageauthor}}</h6>{%endif%}{% endunless %}
                <p class="card-text small">{{post.excerpt | strip_html | truncatewords: maxWords }}</p>
              </div>
              <div class="d-flex flex-row mb-0 justify-content-end">
                {% if post.categories == page.slug%}aaaa{%endif%}
                {% if botcat %}
                <a class="link-light-box" href="{{botcaturl}}">
                    <div class="py-2 px-3 mt-auto border bg-light border-3 border-black mb-0 border-bottom-0 border-right-0">
                      {{botcat}}
                    </div>
                </a>
                {% endif %}
                <a class="link-light-box" href="{{post.url}}">
                  <div class="persianDate py-2 px-3 mt-auto border bg-light border-3 border-black mb-0 border-bottom-0 border-right-0" data-timestamp="{{post.date | date: '%s'}}">
                  </div>
                </a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
