<section class="py-5 user">
  <form id="sendPost">
    <div class="container">
      <div class="row">
        <div class="col-8 form-group">
          <label for="postTitle">عنوان</label>
          <input type="text" class="form-control" id="postTitle" placeholder="عنوان یادداشت" value="" required>
        </div>
        <div class="col-4 form-group">
          <label for="poststatus">وضعیت</label>
          <select class="form-control" id="postStatus">
            <option value="false" id="draft" value="false" selected='true'>پیش‌‌نویس</option>
            <option value="true" id="published" value="true" selected='false' class="admin reviewer">انتشار</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="postType">گروه</label>
            <select class="form-control" id="postType">
              <option value=""></option>
              {% for type in site.types%}
              <option value="{{type.slug}}">{{type.title}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="postCategory">دسته</label>
            <select class="form-control" id="postCategory">
              <option value=""></option>
              {% for category in site.categories%}
              <option value="{{category.slug}}" class="{{category.type}}">{{category.title}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="featureImg">تصویر شاخص</label>
          <input type="file" class="uploadImg" id="featureImg" name="myFile" id="myFile">
          <a href="javascript:void(0)" class="upload uploadImg btn btn-secondary">بارگزاری</a>
          <a href="" id="imgPrv" class="uploadedImg btn btn-success" target="_blank" style="display: none;">نمایش</a>
          <a href="javascript:void(0)" id="imgDel" class="uploadedImg btn btn-danger" style="display: none;">حذف</a>
        </div>
        <div class="col-12 form-group d-none">
          <label for="imgUrl">آدرس تصویر شاخص</label>
          <input type="text" class="form-control" id="imgUrl" placeholder="تصویر شاخص">
        </div>
        <div class="col-12 form-group">
          <label for="postText">متن</label>
          <textarea  id="editor" class="form-control" placeholder="متن" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block mb-2">ارسال</button>
        </div>
      </div>
      <div class="row text-center" id="alertEdited" style="display:none;">
        <div class="col-12">
          <div class="alert alert-success" role="alert">
            این مطلب با موفقیت ویرایش شد.
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<script type="text/javascript">
</script>
