<section class="pt-5 bg-night text-light" style="min-height: 50vh;">
  <div class="container-fluid">
    <div class="row px-4">
      <div class="col d-flex ml-3 text-center">
        <h4 class="align-self-center">حلقۀ تاریخ پژوهان و نظریه‌‌پژوهان معماری و هنر ایران</h4>
      </div>
      <div class="col-1 text-center">
        <img class="w-100" src="/assets/img/asmaneh-logo-white.png" alt="">
      </div>
    </div>
    <div class="row text-center mx-4 mt-3 border border-light border-3 border-right-0 border-left-0 border-bottom-0">
      <div class="col p-3">
        <h4><a href="/">صفحۀ نخست</a></h4>
      </div>
      <div class="col p-3">
        <h4><a href="/about/">دربارۀ ما</a></h4>
      </div>
      <div class="col p-3">
        <h4>تماس <small>asmanehchannel@gmail.com</small></h4>
      </div>
      <div class="col p-3">
        <h4 class="d-flex justify-content-around">
          <a href="https://www.instagram.com/asmaneh.art.and.architecture/"><i class="fab fa-instagram"></i></a>
          <a href="https://t.me/asmaaneh"><i class="fab fa-telegram-plane"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </h4>
      </div>
      <div class="col p-3">
        <h4>
          ۱۴۰۰ ©
        </h4>
      </div>

    </div>
  </div>

</section>
