<section class="pt-5 bg-night text-light" style="min-height: 50vh;">
  <div class="container-fluid">
    <div class="row px-4">
      <div class="col d-flex ml-3 text-center">
        <h4 class="align-self-center">حلقه تاریخ‌‌پژوهان و نظریه پژوهان معماری و هنر ایران</h4>
      </div>
      <div class="col-1 text-center">
        <img class="w-100" src="/assets/img/asmaneh-logo.png" alt="">
      </div>
    </div>
    <div class="row text-center mx-4 mt-3 border border-light border-3 border-right-0 border-left-0 border-bottom-0">
      <div class="col p-3">
        <h4>صفحه نخست</h4>
      </div>
      <div class="col p-3">
        <h4>درباره</h4>
      </div>
      <div class="col p-3">
        <h4>تماس</h4>
      </div>
      <div class="col p-3">
        <h4>۱۳۹۹ ©</h4>
      </div>

    </div>
  </div>

</section>
