<nav class="navbar navbar-expand-lg py-3 {% if page.url == '/'%}navbar-dark text-white fixed-top position-absolute bg-transparent {% else %} navbar-light bg-white shadow-sm{% endif %}">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <!-- Logo Image -->
      <img class="logo" src="/assets/img/asmaneh-logo.png" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
        <div class="btn-group rounded-0 guest">
          <a href="/login" class="mx-1"><img src="/assets/img/tiles/login.png" alt="login" class="nav-icon"></a>
        </div>
        <div class="btn-group rounded-0 user">
          <a href="/dashboard/" class="btn btn-primary-outline rounded-0 border-0 user-fullname"></a>
          <button type="button" class="btn btn-primary-outline rounded-0 border-0 dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            <a class="dropdown-item" href="/user/?id=me">ویرایش پروفایل</a>
            <a class="dropdown-item" href="/post/">مطلب جدید</a>
            <a class="dropdown-item reviewer admin" href="/review/" style="display:none;">مطالب دریافتی</a>
            <a class="dropdown-item admin" href="/users/" style="display:none;">مدیریت کاربران</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)" onclick="logout()">خروج</a>

          </div>
        </div>

        {% for item in site.types %}
        {% assign type-categories = site.categories | where: 'type', item.slug %}
        <div class="btn-group rounded-0">
          <a href="{{item.url}}" {% if item.icon %}class="{% if type-categories.size > 0 %}ml-0 {%else%}mx-1{%endif%}" {%else%}class="btn btn-primary-outline rounded-0 border-0"{%endif%}>{% if item.icon %}<img src="{{item.icon}}" alt="{{item.title}}" class="nav-icon">{%else%}{{item.title}}{% endif%}</a>
          {% if type-categories.size > 0 %}
          <button type="button" class="border-2 bg-transparent {% if page.url == '/'%}border-white text-white{%else%} border-dark {%endif%} border-left-0 mr-1 dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
            {% for category in type-categories %}
            <a class="dropdown-item" href="{{category.url}}">{{category.title}}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()"> &#x2315; </span>

</nav>
