<section class="pt-5 bg-light text-dark" style="min-height: 100vh;">
  <div class="container-fluid px-5 py-4">
    <div class="row">
      <div class="h3 py-2 px-3 mt-auto border border-3 border-dark">
        تازه‌‌ها
      </div>
    </div>
    <div class="row">
      <div class="col-6 mt-3">
        <div class="card bg-transparent border-0">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <img class="card-img border border-3 border-dark" src="https://picsum.photos/seed/picsum/150/150?grayscale" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 mt-2" style="margin-right: -50px;">
                  <div class="d-flex flex-row mb-0  bg-light">
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0 border-right-0">
                      مطالعات تاریخی
                    </div>
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0">
                      ۱۳۹۹-۹-۱۰
                    </div>
                  </div>
                  <div class="card-body border border-3 border-dark mt-0  bg-light">
                    <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                    <p class="card-text">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                  </div>
                </div>
            </div>
        </div>

      </div>
      <div class="col-6 mt-3">
        <div class="card bg-transparent border-0">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <img class="card-img border border-3 border-dark" src="https://picsum.photos/seed/picsum/150/150?grayscale" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 mt-2" style="margin-right: -50px;">
                  <div class="d-flex flex-row mb-0  bg-light">
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0 border-right-0">
                      مطالعات تاریخی
                    </div>
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0">
                      ۱۳۹۹-۹-۱۰
                    </div>
                  </div>
                  <div class="card-body border border-3 border-dark mt-0  bg-light">
                    <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                    <p class="card-text">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                  </div>
                </div>
            </div>
        </div>

      </div>
      <div class="col-6 mt-3">
        <div class="card bg-transparent border-0">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <img class="card-img border border-3 border-dark" src="https://picsum.photos/seed/picsum/150/150?grayscale" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 mt-2" style="margin-right: -50px;">
                  <div class="d-flex flex-row mb-0  bg-light">
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0 border-right-0">
                      مطالعات تاریخی
                    </div>
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0">
                      ۱۳۹۹-۹-۱۰
                    </div>
                  </div>
                  <div class="card-body border border-3 border-dark mt-0  bg-light">
                    <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                    <p class="card-text">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                  </div>
                </div>
            </div>
        </div>

      </div>
      <div class="col-6 mt-3">
        <div class="card bg-transparent border-0">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <img class="card-img border border-3 border-dark" src="https://picsum.photos/seed/picsum/150/150?grayscale" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 mt-2" style="margin-right: -50px;">
                  <div class="d-flex flex-row mb-0  bg-light">
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0 border-right-0">
                      مطالعات تاریخی
                    </div>
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0">
                      ۱۳۹۹-۹-۱۰
                    </div>
                  </div>
                  <div class="card-body border border-3 border-dark mt-0  bg-light">
                    <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                    <p class="card-text">
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                  </div>
                </div>
            </div>
        </div>

      </div>
      <div class="col-6 mt-3">
        <div class="card bg-transparent border-0">
            <div class="row no-gutters">
                <div class="col-sm-4">
                    <img class="card-img border border-3 border-dark" src="https://picsum.photos/seed/picsum/150/150?grayscale" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-8 mt-2" style="margin-right: -50px;">
                  <div class="d-flex flex-row mb-0  bg-light">
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0 border-right-0">
                      مطالعات تاریخی
                    </div>
                    <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0 border-bottom-0">
                      ۱۳۹۹-۹-۱۰
                    </div>
                  </div>
                  <div class="card-body border border-3 border-dark mt-0  bg-light">
                    <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
                    <p class="card-text">
                      پ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                  </div>
                </div>
            </div>
        </div>

      </div>

    </div>
  </div>
</section>
