<section class="bg-dark text-light">
  <div class="container-fluid px-5 py-4">
    <div class="row">
      <div class="h3 py-2 px-3 mt-auto border border-3 border-light mb-3">
        پرونده ویژه
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="card bg-light text-dark border-0 rounded-0">
          <div class="d-flex flex-row mb-0 position-absolute bg-light">
            <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0">
              ۱۳۹۹-۹-۱۰
            </div>
          </div>
          <img class="card-img-top" src="https://picsum.photos/seed/picsum/300/200?grayscale" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
            <h6>لورم ایپسوم</h6>
            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-light text-dark border-0 rounded-0">
          <div class="d-flex flex-row mb-0 position-absolute bg-light">
            <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0">
              ۱۳۹۹-۹-۱۰
            </div>
          </div>
          <img class="card-img-top" src="https://picsum.photos/seed/picsum/300/200?grayscale" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
            <h6>لورم ایپسوم</h6>
            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-light text-dark border-0 rounded-0">
          <div class="d-flex flex-row mb-0 position-absolute bg-light">
            <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0">
              ۱۳۹۹-۹-۱۰
            </div>
          </div>
          <img class="card-img-top" src="https://picsum.photos/seed/picsum/300/200?grayscale" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
            <h6>لورم ایپسوم</h6>
            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-light text-dark border-0 rounded-0">
          <div class="d-flex flex-row mb-0 position-absolute bg-light">
            <div class="h5 py-2 px-3 mt-auto border border-3 border-dark mb-0">
              ۱۳۹۹-۹-۱۰
            </div>
          </div>
          <img class="card-img-top" src="https://picsum.photos/seed/picsum/300/200?grayscale" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h5>
            <h6>لورم ایپسوم</h6>
            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
