html, body {
  font-family: Calibri, Arial !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.65;
}
a {
  color: #000000;
  font-weight: 500;
  text-decoration: none !important;
  line-height: 1.6;
}
a:hover {
  color: #000000;
}
p {
  text-align: justify;
}
p a {
  color: #0645AD;
}
.navbar {
}
.logo {
  height: 80px;
}
#topSection {
  background-size: cover;
  background-position: center;
}
.border-black {
  border-color: #000 !important;
}
.border-3 {
    border-width:3px !important;
}
.border-4 {
    border-width:4px !important;
}
.top-img {margin: -3px -3px 0 0 !important;}
.bg-black {
    background-color: #111111 !important;
}
.bg-night {
  background-color: #000000 !important;
}
.bg-night a {
  color: white;
}
.bg-light-transparent {
  background-color: #fafafa99 !important;
}
.img-float-left, .img-float-right {
  width: 100%;
}
.fig-float-left {
  width: 50%;
  float: left;
  margin: 10px 20px 10px -150px;
}
.fig-float-right {
  width: 50%;
  float: right;
  margin: 10px -150px 10px 20px;
}
@media only screen and (max-width: 600px) {
  .fig-float-left,.fig-float-right {
    width: 100%;
    margin: 10px auto;
  }
  .card-image-hr {
      margin-bottom: -100px;
  }
}
.card-image-hr {
    margin-left: -50px;
}
.card-image-vr {
  margin-bottom: -150px;
}
.card-title a:hover{
  border-bottom: 2px solid;
}
code {
  color: inherit;
}
blockquote {
  background: #f9f9f9;
  border-right: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  text-align: justify;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.thumb-img {
  object-fit: cover;
  object-position: center;
  height: 10vw;
  width: 10vw;
}
.square {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.link-light-box div {
  color: #111111 !important;
}
.link-light-box:hover, .link-light-box:hover * {
  background-color: #111111 !important;
  color: #EEEEEE !important;
}
.link-dark-box div {
  color: #EEEEEE !important;
}
.link-dark-box div:hover {
  background-color: #EEEEEE !important;
  color: #111111 !important;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
}

#main {
  transition: margin-left .5s;
}
#login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#editor {
  height: 800px;
  padding: 10px;
  font-size: 1rem;
}
.icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.nav-icon {
  height: 40px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.navbar-dark img {
  filter: invert(1);
}
.navbar-dark .container-fluid .collapse.show {
  background-color: black !important;
}
.title-icon {
  height: 80px;
  filter: invert(1);
}
.img-gallery a {flex-grow: 1;}
.img-gallery img {height: 200px;width: 100%; flex-grow: 1; object-fit: cover; margin: 2px;}
.fnoteBtn {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  vertical-align: super;
}
