---
layout: default
---
{%assign pagecollection = page.collection %}
{% assign pcollection = site.collections | where: "label", pagecollection | first %}
{% assign pagesize = site.posts | where: pagecollection , page.slug | size %}
<main role="main">
  {% include sectionArchiveTop.html %}
  <section class="pt-5 bg-light text-dark" style="min-height: 100vh;">
    <div class="container-fluid px-5 py-4">
      <div class="row">

  {% assign filtered_posts = site.posts | where: pagecollection, page.slug %}
  {% for post in filtered_posts %}
  {% include cardHorizental.html %}

    {% endfor %}
</div>
</div>
</section>
</main>
