<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/trumbowyg/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/assets/vendors/lightbox/ekko-lightbox.css">
    <link rel="stylesheet" href="/assets/css/asmaneh.css">
    <script type="text/javascript" src="/assets/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/bootstrap.min.js"></script>
    <script src="/assets/vendors/trumbowyg/trumbowyg.min.js"></script>
    <script src="/assets/vendors/trumbowyg/langs/fa.min.js"></script>
    <script src="/assets/vendors/trumbowyg/plugins/cleanpaste/trumbowyg.cleanpaste.min.js"></script>
    <script src="/assets/vendors/trumbowyg/plugins/upload/trumbowyg.upload.min.js"></script>
    <script src="/assets/vendors/moment.js"></script>
    <script src="/assets/vendors/moment-jalaali.js"></script>
    <script src="/assets/vendors/lightbox/ekko-lightbox.min.js"></script>

    <script type="text/javascript" src="/assets/js/asmaneh.js"></script>
  </head>
  <body>
    {% include nav-top.html %}
    {{content}}
    {% include footer.html %}
  </body>
</html>
